<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[${artifactId}] %p [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>
    
	<appender name="INFO" class="org.apache.log4j.RollingFileAppender">
	     <param name="File" value="${user.home}/ContentLoaderConsumer/logs/sadlier-contentloaderconsumer-info.log"/>
	     <param name="Append" value="true"/>
	     <param name="MaxFileSize" value="5MB"/>
	     <param name="MaxBackupIndex" value="2"/>
	    <layout class="org.apache.log4j.PatternLayout">
	          <param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n"/>
	    </layout>
	    <filter class="org.apache.log4j.varia.LevelRangeFilter">
	      <param name="LevelMin" value="INFO" />
	    </filter>
  </appender>

  <appender name="WARN" class="org.apache.log4j.RollingFileAppender">
     <param name="File" value="${user.home}/ContentLoaderConsumer/logs/sadlier-contentloaderconsumer-warn.log"/>
     <param name="Append" value="true"/>
     <param name="MaxFileSize" value="5MB"/>
     <param name="MaxBackupIndex" value="2"/>
    <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="WARN" />
    </filter>
  </appender>

  <appender name="ERROR" class="org.apache.log4j.RollingFileAppender">
     <param name="File" value="${user.home}/ContentLoaderConsumer/logs/sadlier-contentloaderconsumer-error.log"/>
     <param name="Append" value="true"/>
     <param name="MaxFileSize" value="5MB"/>
     <param name="MaxBackupIndex" value="2"/>
    <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="ERROR" />
    </filter>
  </appender>

  <root>
    <appender-ref ref="INFO"/>
    <appender-ref ref="WARN"/>
    <appender-ref ref="ERROR"/>
    <appender-ref ref="STDOUT"/>
  </root>

</log4j:configuration>
